{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
            <th scope="col">Transaction</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                Nothing to see yet...
            </tr>
        </tbody>
    </table>
{% endblock %}