{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}
#[{'symbol': 'AAPL', 'shares': 9, 'price': 173}, {'symbol': 'NFLX', 'shares': 10, 'price': 436}]
{% block main %}
    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Shares</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
            {% for entry in porty %}
            <tr>
                <td>{{ entry['symbol'] }}</td>
                <td>{{ entry['shares'] }}</td>
                <td>{{ entry['price'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}